:root {
  --text-color: #fff;
  --text-color-secondary: #000;
  --background-color: #1A1A1D;
  --primary-color: #D50050;
  --secondary-color: #950740;
  --tertiary-color: #ffc5c5;
  --a-hover-color: #b04a63;
  --a-active-color: #950740;
  --keyframe-color-change__pre: #FFFFFF;
  --keyframe-color-change__post: #ED0CE6;
  --keyframe-color-change1__pre: #FFFFFF;
  --keyframe-color-change1__post: #72FFFF;

  --primary-font-size: 16px;
  --h1-font-size: 30px;
  --h1-font-size-mediaq: 22px;
  --h2-font-size: 24px;
  --h3-font-size: 18px;
  --navigation-font-size: 18px;
  --navigation-active-font-size: 24px;
  --attribute-font-size: 8px;

  --primary-font-weight: 400;
  --secondary-font-weight: 700;

}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  padding: 20px;
  width: 100%;
  border-bottom:thick double var(--tertiary-color);
}

.page-header__item {
  flex: 0 1 auto;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.about-page {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.about-list {
  list-style-type: none;
  display: contents;
}

@keyframes color-change {
  0% {
    fill: var(--keyframe-color-change__pre);
  }
  100% {
    fill: var(--keyframe-color-change__post);
  }
}

.moon {
  animation: 6s color-change infinite alternate linear;
}

.scraper-left-light {
  animation: 3s color-change infinite alternate linear;
}

@keyframes color-change1 {
  0% {
    fill: var(--keyframe-color-change1__pre);
  }
  100% {
    fill: var(--keyframe-color-change1__post);
  }
}

.scraper-medium-light {
  animation: 9s color-change1 infinite alternate linear;
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.light {
  animation: 2s fadein infinite alternate linear;
}

.star {
  animation: 5s fadein infinite alternate linear;
}


table {
  margin: 0 auto;
}

.contact-page {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

body {
  background-color: var(--background-color);
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item {
  font-size: var(--navigation-font-size);
}

.navigation-list__item--active {
  text-decoration: none;
  font-size: var(--navigation-active-font-size);
}

a {
  color: var(--primary-color);
}

a:visited {
  /* visited link */
  color: var(--tertiary-color);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: var(--a-hover-color);
}

a:active {
  /* selected link */
  color: var(--a-active-color);
}

a.project-list__item-link {
  color: var(--text-color-secondary);
  font-weight: bold;
}

a.project-list__item-link:visited {
  color: var(--tertiary-color);
}

a.project-list__item-link:active {
  color: var(--text-color);
}

.project-list__item-link:hover, .project-list__item-link:focus {
  color: var(--tertiary-color);
}

.about-button:hover, .about-button:focus {
  color: var(--text-color-secondary);
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  /* Sets the font size to 16px */
  line-height: 1.4;
  /* Sets the line-height to 1.4 */
  color: var(--text-color);
  padding: 20px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--secondary-font-weight);
  text-decoration: none;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--secondary-font-weight);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--secondary-font-weight);
}

.neo-attribute {
  font-size: var(--attribute-font-size);
  font-weight: var(--primary-font-weight);
}

.about-button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

.about-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: var(--secondary-font-weight);
  margin-top:30px;
  margin-bottom: 30px;
  display: inline-block;

}

.button_secondary {
  background-color: var(--tertiary-color);
  color: var(--text-color-secondary);
}

button:hover,
button:focus,
.about-button:hover,
.about-button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button-form {
  border: none;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.button-form:hover, button-form:focus {
  cursor: pointer;
  opacity: 0.8;
}

.project-list__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .project-list__item {
    background-color: var(--primary-color);
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .project-list__item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }
  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: var(--h1-font-size-mediaq);
  }
}
